In [6]:
name=[]
address=[]
Class=[]
Math=[]
Science=[]
English=[]
Dutch=[]
Arts=[]
for i,j,k,l,m,n,o,p in zip(name,address,Class,Math,Science,English,Dutch,Arts):
    print(i,j,k,l,m,n,o)

In [7]:
def adding_a_record(name,address,Class,Math,Science,English,Dutch,Arts):
    name.append(input("enter student name:"))
    address.append(input("enter student address:"))
    Class.append(input("enter class:"))
    Math.append(input("enter math grade:"))
    Science.append(input("enter science grade:"))
    English.append(input("enter english grade:"))
    Dutch.append(input("enter dutch grade:"))
    Arts.append(input("enter Arts grade:"))
    
adding_a_record(name,address,Class,Math,Science,English,Dutch,Arts)

enter student name: Margot
enter student address: Frascati
enter class: 6
enter math grade: 7
enter science grade: 5
enter english grade: 6
enter dutch grade: 7
enter Arts grade: 7

In [ ]:
for i,j,k,l,m,n,o,p in zip(name,address,Class,Math,Science,English,Dutch,Arts):
    print(i,j,k,l,m,n,o,p)

In [ ]:
def deleting_a_record(name,address,Class,Math,Science,English,Dutch,Arts):
    name.remove(input("enter name:"))
    
deleting_a_record(name,address,Class,Math,Science,English,Dutch,Arts)

In [21]:
for i,j,k,l,m,n,o,p in zip(name,address,Class,Math,Science,English,Dutch,Arts):
    print(i,j,k,l,m,n,o,p)

In [ ]:
print("-----Student record- Option terminal-----")

x=float(input("->Type 1, if you want to add a new record"
       "  ->Type 2, if you want to edit a record"
      "   ->Type 3 if you want to delete a record"
      "   ->Type 4 if you want to search a student"))
if x==1:
    adding_a_record(name,address,Class,Math,Science,English,Dutch,Arts)
if x==3:
    deleting_a_record(name,address,Class,Math,Science,English,Dutch,Arts)
else:
    print("no command saved for entered number")    

print(x)

In [ ]:
To do:
    edit student record
    search for student record
    sum, average of student 
    average for students in the same class, show who has the highest average